/*_variables.scss */


$font-size__text: 16px;
$font-family__primary: 'Roboto', sans-serif;


$font-weight__thin: 100;
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__medium: 500;
$font-weight__bold: 700;

$line-height__primary: 16px;


$color__text: #000;
$brand-color__bright-orange: #ef682d;
$brand-color__dark-orange: #cc7422;
$brand-color__light-orange: #fbad1d;
$brand-color__yellow: #f9ed32;


$transition__primary: 400ms all ease;
$opacity__primary: 0.7;